FORMAT: 1A
HOST: https://api.ciscospark.com/v1/

# Licenses

An allowance for features and services that are provided to users on a Webex Teams services subscription. Cisco and its partners manage the amount of licenses provided to administrators and users. This license resource can be accessed only by an admin.

To learn about how to allocate Hybrid Services licenses, see the [Managing Hybrid Services](/docs/teams/api/guides/managing-hybrid-services) guide.

## Licenses Collection [/licenses]

### List Licenses [GET /licenses{?orgId}]

List all licenses for a given organization.  If no `orgId` is specified, the default is the organization of the authenticated user.

+ Request

    + Headers

            Authorization: Bearer YOUR_AUTHORIZATION_TOKEN

+ Parameters
    + orgId: `Y2lzY29zcGFyazovL3VzL09SR0FOSVpBVElPTi85NmFiYzJhYS0zZGNjLTExZTUtYTE1Mi1mZTM0ODE5Y2RjOWE` (string, optional) - List licenses for this organization.

+ Response 200 (application/json)

    + Attributes (License Collection Response)

### Get License Details [GET /licenses/{licenseId}]

Shows details for a license, by ID.

Specify the license ID in the `licenseId` parameter in the URI.

+ Request

    + Headers

            Authorization: Bearer YOUR_AUTHORIZATION_TOKEN

+ Parameters

    + licenseId: `Y2lzY29zcGFyazovL3VzL0xJQ0VOU0UvOTZhYmMyYWEtM2RjYy0xMWU1LWExNTItZmUzNDgxOWNkYzlh` (string, required) - The unique identifier for the license.

+ Response 200 (application/json)

    + Attributes (License)

# Data Structures

## License (object)

+ id: `Y2lzY29zcGFyazovL3VzL0xJQ0VOU0UvOTZhYmMyYWEtM2RjYy0xMWU1LWExNTItZmUzNDgxOWNkYzlh` (string) - A unique identifier for the license.
+ name: `Webex Teams Calling` (string) - Name of the licensed feature.
+ totalUnits: `42` (number) - Total number of license units allocated.
+ consumedUnits: `8` (number) - Total number of license units consumed.

## License Collection Response (object)

+ items (array[License])